.menuBtn {
  position: absolute;
  left: 10px;
  top: 10px;
}

.topNav {
  border-bottom: 1px solid #ccc;
  position: fixed !important;
  z-index: 2;
  background-color: white;
  top: 0;
}

@media (min-width: 992px) {
  .topNav {
    position: block;
  }
}
